@media (min-width: 1170px) {
    .container-md {
        max-width: 1170px;
        margin: 0 auto;
    }

    .top-header {
        display: flex;
        flex-direction: row;       
    }

    .logo {
        align-self: center;
    }
    .slogan {
        flex-grow: 2;
        text-align: center;
    }    
    .mainmenu {
        align-self: center;
    }
    .hamburger-menu {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: stretch;
    }
    .home {
        display: flex;        
        flex-direction: row;
        gap: 20px;
    }
    .home div {

        height: 120px;
        background-color: var(--accent-color1);
    }
    /* directory for larger screens */
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .main {
        display: grid;
        grid-template-columns: 30% auto;
        column-gap: 50px;
    }
}