:root {
    --primary-color: #4361EE;
    --secondary-color: #F72585;
    --dark-color: #3A0CA3;
    --light-color: #4CC9F0;
    --accent-color1: #7209B7;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --bg-light: #e6e6e6;
}
@media (min-width: 1170px) {
    .container-md {
        max-width: 1170px;
        margin: 0 auto;
    }

    .top-header {
        display: flex;
        flex-direction: row;       
    }

    .logo {
        align-self: center;
    }
    .slogan {
        flex-grow: 2;
        text-align: center;
    }    
    .mainmenu {
        align-self: center;
    }
    .hamburger-menu {
        display: none;
    }
    .navigation {
        display: flex;
        justify-content: stretch;
    }
    .home {
        display: flex;        
        flex-direction: row;
        gap: 20px;
    }
    .home div {

        height: 120px;
        background-color: var(--accent-color1);
    }
    /* directory for larger screens */
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .main {
        display: grid;
        grid-template-columns: 30% auto;
        column-gap: 50px;
    }

    /* .shape-outside {
        border-radius: 100px;
        width: 35%;
        margin: 0 3em .5em 0;
        float: left;
        shape-outside: circle();
    } */
}