
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.bg-light {
    background-color: var(--bg-light);    
}
.logo a {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
}
.navigation a {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 15px 25px;
}
.navigation a:hover {
    background-color: var(--light-color);
}
.active::before { 
	content: "📍";
}
/* hero */
.hero {
    min-height: 350px;
    background-color: var(--secondary-color);
}

.title-header {
    
}
.directory-selection {
    text-align: right;
}

/* directory */
.directory {
    margin: 25px;
}
.grid {
    display: grid;	
	grid-gap: 5px;
	align-items: center;
}
.grid section {
    text-align: center;
}
section img {
    width: 100%;    
    height: 100%;
    object-fit: cover;
}
.list {
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
}
.directory section {
    padding: 2rem;
    border: 1px solid var(--light-color);
}
.directory section:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
.directory section a {
    display: block;
    border: 1px solid var(--black-color);
    color: var(--black-color);    
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
}
.directory section a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}
.display {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.list section {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;      
    margin-bottom: 15px;
}
.list section img {
    width: 150px;
}

footer {
    color: var(--white-color);
    text-align: center;
    background-color: var(--black-color);
    padding: 25px 50px;
}
.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 764px) {
    .container-xs {
        max-width: 100%;
        background-color: var(--bg-light);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }    
    h1 {
        display:none;
    }
    .navigation {
        display: none;
    }
    .navigation a {
        display: block;
    }    
    .hamburger-menu {
        position:absolute;
        top:10px;
        right:15px;        
    }    
}

