:root {
    --primary-color: #4361EE;
    --secondary-color: #F72585;
    --dark-color: #3A0CA3;
    --light-color: #4CC9F0;
    --accent-color1: #7209B7;
    --black-color: #000000;
    --white-color: #FFFFFF;
    --bg-light: #e6e6e6;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/l/font?kit=KFOmCnqEu92Fr1Me4GZNCzcPbOHTt6tqXl2TMWgtUADtbNE0FwjR60ub0BtuliV9nzY5opeRF6O-FnZsaJLetvV-9mXgaxv7xBV8jmt2chWZ7OuZw6siU4A&skey=a0a0114a1dcab3ac&v=v30') format('woff2');
  }
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/l/font?kit=KFOlCnqEu92Fr1MmWUlvBh0_IsHA06hvWViQJH84UwXqadI5GH6rkU6c1RhjmSh-mjE8oYqOCqC7EXNvZZ3Tj85H82LlaBb0yRZ5iW51bwqE7-6exqgvXI1IEVo&skey=c06e7213f788649e&v=v30') format('woff2');
}

  
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.bg-light {
    background-color: var(--bg-light);    
}
.logo a {
    font-size: 3rem;
    font-weight: 900;
    color: var(--primary-color);
}
.navigation a {
    background-color: var(--dark-color);
    color: var(--white-color);
    padding: 15px 25px;
}
.navigation a:hover {
    background-color: var(--light-color);
}
.active::before { 
	content: "📍";
}
/* hero */
.hero {
    min-height: 350px;
    background-color: var(--secondary-color);
}

.title-header {
    margin-top: 25px;
}
.directory-selection {
    text-align: right;
    margin-top: 25px;
    margin-bottom:25px;
}

/* directory */
.directory {
    margin: 25px;
}
.grid {
    display: grid;	
	grid-gap: 5px;
	align-items: center;
}
.grid section {
    text-align: center;
}
section img {
    width: 100%;    
    height: 100%;
    object-fit: cover;
}
.list {
    display: flex;
	flex-direction: column;
    flex-wrap: wrap;
}
.directory section {
    padding: 2rem;
    border: 1px solid var(--light-color);
}
.directory section:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
.directory section a {
    display: block;
    border: 1px solid var(--black-color);
    color: var(--black-color);    
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 15px;
}
.directory section a:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}
.display {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.list section {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;      
    margin-bottom: 15px;
}
.list section img {
    width: 150px;
}
/* discover page */
.main {
    display: grid;    
    column-gap: 50px;
}
.heading-title {
    padding: 5px 10px;;
    background-color: var(--light-color);
}
.sidebar-item {
    margin-bottom: 25px;
}
.sidebar-content {
    padding: 10px;
}
.business-outlet {
    padding: 25px;
}
.business-outlet-info {
    position: relative;
    top: 5px;
    left: 25px;
}
.mix-blend-difference {
    /* mix-blend-mode:difference; */
}
.welcome-display {    
    background-color: var(--secondary-color);
    color: var(--black-color);
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;

}
.weather-display{
    display: flex;
    flex-direction: row;
}
.weather-display img {
    width: 150px;
    margin-top: -25px
}
.weather-info {
    list-style-type: none;  
}
.weather-misc { 
    position: relative;   
    margin-left: 140px;
    margin-top: -75px;    
}
.weather-main-temp {
    margin-left: -10px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--secondary-color);
}
.photo-list figure {
    margin-bottom: 50px;
}
.photo-list figcaption {    
    position: relative;   
    margin-top: -125px;
    margin-left: 35px;    
    background-color: var(--white-color);
    padding: 25px 35px;
    width: 320px;
}



footer {
    color: var(--white-color);
    text-align: center;
    background-color: var(--black-color);
    padding: 25px 50px;
}
.footer .link-color {
    color: var(--white-color);
}
.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

@media only screen and (max-width: 764px) {
    .container-xs {
        max-width: 100%;
        background-color: var(--bg-light);
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }    
    h1 {
        display:none;
    }
    .navigation {
        display: none;
    }
    .navigation a {
        display: block;
    }    
    .hamburger-menu {
        position:absolute;
        top:10px;
        right:15px;       
        font-size: 1.5rem;
        border: 0;
        background: var(--black-color);
        color: var(--white-color);
        display:block;
        width: 30px;
        height: 30px;
        text-align: center;
    }    

    .hamburger-menu::before {
        content: "☰";
    }
    
    .hamburger-menu.open::before {  
        content: "❎";
    }
    
    .main {   
        margin: 10px 15px;             
        column-gap: 50px;
    }

    .title-header {
        margin: 15px 25px;
    }

}

