:root {
	--primary-color: #00bbf9;
	--secondary-color: #fee440;
	--tertiary-color: #f15bb5;
	--accent-color: #9b5de5;
	--accent2-color: #00f5d4;
	--dark-color: #00f5d4;
	--light-color: #00f5d4;
	--black-color: #000000;
	--white-color: #FFFFFF;
	--grey-color: #e0e4e7;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

body {		
	color: var(--black-color);
	font-size: 1rem;
	font-family: 'Open Sans';
	line-height: 1.85em;
	font-weight: 300;	
	-webkit-text-size-adjust: none;
}

p, h2, h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* COMMON LAYOUT DEFINITION */
.container {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

/* Header */
#header {
	/* position: relative; */
	background-color: var(--black-color);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

#header > .container {
	position: relative;
	min-height: 155px;
}

#header h1 {
	position: absolute;
	left: 0;
	bottom: 25px;
	font-size: 2.75em;
}

#header h1 a {
	color: var(--white-color);
	text-decoration: none;
}

#header nav {
	/* position: absolute;
	right: 0;
	bottom: 35px;
	font-weight: 200; */
}

#header nav a {
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.4em;
	margin-left: 60px;
	outline: 0;
}

#header nav a:hover {
	color: var(--accent2-color);
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: var(--black-color);
	color: var(--white-color);
	position: absolute;
	top: 2rem;
	right: 1rem;
	display: none;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-top: 30px;	
	list-style: none;	
	color: var(--white-color);
}

.navigation a {
	/* display: none; */
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: var(--primary-color);
	font-weight: 700;
}

.open a {
	display: block;
}

.active::before { 
	content: "📍"; 
}

.subpage #header > .container {
	height: 155px;
}

/* Banner */

#banner {
	border-top: solid 1px #222628;
	box-shadow: inset 0px 1px 0px 0px #3e484a;
	padding: 35px 0 35px 0;
	color: #fff;
}

#banner .bordered-feature-image {
	margin-bottom: 0;
}

#banner p {
	font-size: 2em;
	font-weight: 200;
	line-height: 1.25em;
	padding-right: 1em;
	margin: 0 0 1em 0;
}


@media screen and (max-width: 1680px) {
	.container {
		width: 1200px;
	}
}

@media screen and (max-width: 1280px) {

	.container {
		width: calc(100% - 40px);
	}

}

@media screen and (max-width: 980px) {

	.container {
		width: calc(100% - 50px);
	}

}

@media screen and (max-width: 736px) {
	.container {
		width: calc(100% - 40px);
	}
}


.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row > * {
	box-sizing: border-box;
}

/* .row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
} */
.row.align-left {
	justify-content: flex-start;
}
.row.align-center {
	justify-content: center;
}
.row.align-right {
	justify-content: flex-end;
}
.row.align-top {
	align-items: flex-start;
}
.row.align-middle {
	align-items: center;
}
.row.align-bottom {
	align-items: flex-end;
}

.row > .imp {
	order: -1;
}

.row > .col-1 {
	width: 8.33333%;
}

.row > .off-1 {
	margin-left: 8.33333%;
}

.row > .col-2 {
	width: 16.66667%;
}

.row > .off-2 {
	margin-left: 16.66667%;
}

.row > .col-3 {
	width: 25%;
}

.row > .off-3 {
	margin-left: 25%;
}

.row > .col-4 {
	width: 33.33333%;
}

.row > .off-4 {
	margin-left: 33.33333%;
}

.row > .col-5 {
	width: 41.66667%;
}

.row > .off-5 {
	margin-left: 41.66667%;
}

.row > .col-6 {
	width: 50%;
}

.row > .off-6 {
	margin-left: 50%;
}

.row > .col-7 {
	width: 58.33333%;
}

.row > .off-7 {
	margin-left: 58.33333%;
}

.row > .col-8 {
	width: 66.66667%;
}

.row > .off-8 {
	margin-left: 66.66667%;
}

.row > .col-9 {
	width: 75%;
}

.row > .off-9 {
	margin-left: 75%;
}

.row > .col-10 {
	width: 83.33333%;
}

.row > .off-10 {
	margin-left: 83.33333%;
}

.row > .col-11 {
	width: 91.66667%;
}

.row > .off-11 {
	margin-left: 91.66667%;
}

.row > .col-12 {
	width: 100%;
}

.row > .off-12 {
	margin-left: 100%;
}

.row {
	margin-top: -25px;
	margin-left: -25px;
}

.row > * {
	padding: 25px 0 0 25px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row > * {
	box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}

.row.aln-left {
	justify-content: flex-start;
}

.row.aln-center {
	justify-content: center;
}

.row.aln-right {
	justify-content: flex-end;
}

.row.aln-top {
	align-items: flex-start;
}

.row.aln-middle {
	align-items: center;
}

.row.aln-bottom {
	align-items: flex-end;
}

.row > .imp-medium {
	order: -1;
}

.row > .col-1-medium {
width: 8.33333%;
}

.row > .off-1-medium {
margin-left: 8.33333%;
}

.row > .col-2-medium {
width: 16.66667%;
}

.row > .off-2-medium {
margin-left: 16.66667%;
}

.row > .col-3-medium {
width: 25%;
}

.row > .off-3-medium {
margin-left: 25%;
}

.row > .col-4-medium {
width: 33.33333%;
}

.row > .off-4-medium {
margin-left: 33.33333%;
}

.row > .col-5-medium {
width: 41.66667%;
}

.row > .off-5-medium {
margin-left: 41.66667%;
}

.row > .col-6-medium {
width: 50%;
}

.row > .off-6-medium {
margin-left: 50%;
}

.row > .col-7-medium {
width: 58.33333%;
}

.row > .off-7-medium {
margin-left: 58.33333%;
}

.row > .col-8-medium {
width: 66.66667%;
}

.row > .off-8-medium {
margin-left: 66.66667%;
}

.row > .col-9-medium {
width: 75%;
}

.row > .off-9-medium {
margin-left: 75%;
}

.row > .col-10-medium {
width: 83.33333%;
}

.row > .off-10-medium {
margin-left: 83.33333%;
}

.row > .col-11-medium {
width: 91.66667%;
}

.row > .off-11-medium {
margin-left: 91.66667%;
}

.row > .col-12-medium {
width: 100%;
}

.row > .off-12-medium {
margin-left: 100%;
}

.row.gtr-0 {
margin-top: 0px;
margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}

.row.gtr-25 {
margin-top: -6.25px;
margin-left: -6.25px;
}

.row.gtr-25 > * {
padding: 6.25px 0 0 6.25px;
}

.row.gtr-25.gtr-uniform {
margin-top: -6.25px;
}

.row.gtr-25.gtr-uniform > * {
	padding-top: 6.25px;
}

.row.gtr-50 {
margin-top: -12.5px;
margin-left: -12.5px;
}

.row.gtr-50 > * {
padding: 12.5px 0 0 12.5px;
}

.row.gtr-50.gtr-uniform {
margin-top: -12.5px;
}

.row.gtr-50.gtr-uniform > * {
	padding-top: 12.5px;
}

.row {
margin-top: -25px;
margin-left: -25px;
}

.row > * {
padding: 25px 0 0 25px;
}

.row.gtr-uniform {
margin-top: -25px;
}

.row.gtr-uniform > * {
	padding-top: 25px;
}

.row.gtr-150 {
margin-top: -37.5px;
margin-left: -37.5px;
}

.row.gtr-150 > * {
padding: 37.5px 0 0 37.5px;
}

.row.gtr-150.gtr-uniform {
margin-top: -37.5px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 37.5px;
}

.row.gtr-200 {
margin-top: -50px;
margin-left: -50px;
}

.row.gtr-200 > * {
padding: 50px 0 0 50px;
}

.row.gtr-200.gtr-uniform {
margin-top: -50px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 50px;
}

@media screen and (max-width: 736px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;	
	}

	.row > * {
		box-sizing: border-box;
	}


	.row.align-left {
		justify-content: flex-start;
	}

	.row.align-center {
		justify-content: center;
	}

	.row.align-right {
		justify-content: flex-end;
	}

	.row.align-top {
		align-items: flex-start;
	}

	.row.align-middle {
		align-items: center;
	}

	.row.align-bottom {
		align-items: flex-end;
	}

	.row > .imp-small {
		order: -1;
	}

	.row > .col-1-small {
		width: 8.33333%;
	}

	.row > .off-1-small {
		margin-left: 8.33333%;
	}

	.row > .col-2-small {
	width: 16.66667%;
	}

.row > .off-2-small {
margin-left: 16.66667%;
}

.row > .col-3-small {
width: 25%;
}

.row > .off-3-small {
margin-left: 25%;
}

.row > .col-4-small {
width: 33.33333%;
}

.row > .off-4-small {
margin-left: 33.33333%;
}

.row > .col-5-small {
width: 41.66667%;
}

.row > .off-5-small {
margin-left: 41.66667%;
}

.row > .col-6-small {
width: 50%;
}

.row > .off-6-small {
margin-left: 50%;
}

.row > .col-7-small {
width: 58.33333%;
}

.row > .off-7-small {
margin-left: 58.33333%;
}

.row > .col-8-small {
width: 66.66667%;
}

.row > .off-8-small {
margin-left: 66.66667%;
}

.row > .col-9-small {
width: 75%;
}

.row > .off-9-small {
margin-left: 75%;
}

.row > .col-10-small {
width: 83.33333%;
}

.row > .off-10-small {
margin-left: 83.33333%;
}

.row > .col-11-small {
width: 91.66667%;
}

.row > .off-11-small {
margin-left: 91.66667%;
}

.row > .col-12-small {
width: 100%;
}

.row > .off-12-small {
margin-left: 100%;
}

.row.gtr-0 {
margin-top: 0px;
margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}

.row.gtr-25 {
margin-top: -5px;
margin-left: -5px;
}

.row.gtr-25 > * {
padding: 5px 0 0 5px;
}

.row.gtr-25.gtr-uniform {
margin-top: -5px;
}

.row.gtr-25.gtr-uniform > * {
	padding-top: 5px;
}

.row.gtr-50 {
margin-top: -10px;
margin-left: -10px;
}

.row.gtr-50 > * {
padding: 10px 0 0 10px;
}

.row.gtr-50.gtr-uniform {
margin-top: -10px;
}

.row.gtr-50.gtr-uniform > * {
	padding-top: 10px;
}

.row {
margin-top: -20px;
margin-left: -20px;
}

.row > * {
padding: 20px 0 0 20px;
}

.row.gtr-uniform {
margin-top: -20px;
}

.row.gtr-uniform > * {
	padding-top: 20px;
}

.row.gtr-150 {
margin-top: -30px;
margin-left: -30px;
}

.row.gtr-150 > * {
padding: 30px 0 0 30px;
}

.row.gtr-150.gtr-uniform {
margin-top: -30px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 30px;
}

.row.gtr-200 {
margin-top: -40px;
margin-left: -40px;
}

.row.gtr-200 > * {
padding: 40px 0 0 40px;
}

.row.gtr-200.gtr-uniform {
margin-top: -40px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 40px;
}

}

/* multi-use */
.link-list li {
	padding: 0.2em 0 0.2em 0;
}

.link-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.link-list li:last-child {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

.quote-list li {
	padding: 1em 0 1em 0;
	overflow: hidden;
}

.quote-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.quote-list li:last-child {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

	.quote-list li img {
		float: left;
	}

	.quote-list li p {
		margin: 0 0 0 90px;
		font-size: 1.2em;
		font-style: italic;
	}

	.quote-list li span {
		display: block;
		margin-left: 90px;
		font-size: 0.9em;
		font-weight: 400;
	}

.check-list li {
	padding: 0.7em 0 0.7em 45px;
	font-size: 1.2em;
}

.check-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
	background-position: 0 0.3em;
}

.check-list li:last-child {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

.feature-image {
display: block;
margin: 0 0 2em 0;
outline: 0;
}

.feature-image img {
	display: block;
	width: 100%;
}

.bordered-feature-image {
	display: block;	
	padding: 10px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	margin: 0 0 1.5em 0;
	outline: 0;
}

.bordered-feature-image img {
	display: block;
	width: 100%;
}

.button-large {	
	
}

.button-large:hover {
	
}

.button-large:active {
	
}

/* Features */
#features {
	/* background: #353D40 url("images/bg02.jpg"); */
	border-bottom: solid 1px var(--tertiary-color);
	padding: 45px 0 45px 0;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
	color: var(--secondary-color);
}

#features h2 {
	font-size: 1.25em;
	color: var(--white-color);
	margin: 0 0 0.25em 0;
}

#features a {
	color: var(--black-color);
}

#features strong {
	color: var(--white-color);
}

/* Content site plan */
.box-color {
	float:left;
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px;
}
.primary-color {
	background-color: var(--primary-color);
}
.secondary-color {
	background-color: var(--secondary-color);
}
.tertiary-color {
	background-color: var(--tertiary-color);
}

.accent-color {
	background-color: var(--accent-color);
}

.accent2-color {
	background-color: var(--accent2-color);
}
.open-sans {
	font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}
#content {		
	border-top: solid 1px #fff;
	padding: 45px 0 45px 0;
}

#content section {	
	padding: 40px 30px 45px 30px;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	margin: 0 0 25px 0;
	border: 1px solid var(--black-color);
}

#content h2 {
	font-size: 1.5em;
	color: var(--primary-color);
	font-weight: 700;
	margin: 0 0 0.25em 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#content h3 {
	color: var(--primary-color);
	font-size: 1.25em;
	font-weight: bold;
}

#content h4 {
	font-weight: bold;
}

#content a {
	color: var(--black-color);
}

#content header {
	margin: 0 0 2em 0;
}

#content .quote-list li {
	border-bottom: solid 1px #e2e6e8;
}

#content .link-list li {
	border-bottom: solid 1px #e2e6e8;
}

#content .check-list li {
	border-bottom: solid 1px #e2e6e8;
}

/* Footer */

#footer {
	padding: 45px 0 45px 0;
	text-shadow: 1px 1px 1px white;
	color: #546b76;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
	background-color: var(--dark-color);
	
}

#footer h2 {
	font-size: 1.25em;
	color: var(--black-color);
	margin: 0 0 1em 0;
}

#footer a {
	color: var(--black-color);
}

#footer .quote-list li {
	border-top: solid 1px #e0e4e6;
	border-bottom: solid 1px #b5bec3;
}

#footer .link-list li {
	border-top: solid 1px #e0e4e6;
	border-bottom: solid 1px #b5bec3;
}

#footer .check-list li {
	border-top: solid 1px #e0e4e6;
	border-bottom: solid 1px #b5bec3;
}

#copyright {
	border-top: solid 1px var(--black-color);
	box-shadow: inset 0px 1px 0px 0px #e0e4e7;
	text-align: center;
	padding: 45px 0 80px 0;
	color: #8d9ca3;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}

		#copyright a {
			color: #8d9ca3;
		}

/* Large */

	@media screen and (max-width: 1280px) {

		/* Multi-use */

			.check-list li {
				font-size: 1em;
				line-height: 2em;
			}

			.quote-list li {
				padding: 1em 0 1em 0;
			}

				.quote-list li img {
					width: 60px;
				}

				.quote-list li p {
					margin: 0 0 0 80px;
					font-size: 1em;
					font-style: italic;
					line-height: 1.8em;
				}

				.quote-list li span {
					display: block;
					margin-left: 80px;
					font-size: 0.8em;
					font-weight: 400;
					line-height: 1.8em;
				}

			.feature-image {
				margin: 0 0 1em 0;
			}

			.button-large {
				font-size: 1.5em;
			}

		/* Banner */

			#banner p {
				font-size: 1.75em;
			}

		/* Header */

			#header h1 {
				font-size: 2.25em;
			}

			#header nav a {
				font-size: 1.1em;
			}

			#content h2 {
				font-size: 1.4em;
			}

			#content h3 {
				font-size: 1.1em;
			}

			#content header {
				margin: 0 0 1.25em 0;
			}

	}


/* small screen */
@media screen and (max-width: 736px) {

		body, input, textarea, select {
			font-size: 13pt;
			line-height: 1.4em;
		}

		.link-list li {
			padding: 0.75em 0 0.75em 0;
		}

		.quote-list li p {
			margin-bottom: 0.5em;
		}

		img {
			display: block;	
		}

		.check-list li {
			font-size: 1em;
		}

		.button-large {
			width: 100%;
		}

		.navigation {
			margin-top: 135px;
			margin-left: -15px;
			margin-right: -50px;
			background-color: var(--black-color);
			width: 100%;	
			justify-content: center;			
		}

		/* Banner */
		#banner p {
			font-size: 1.25em;
			font-weight: 200;
			line-height: 1.25em;
			margin: 0 0 1em 0;
		}
		
		#content section {
			padding: 30px 20px;
		}

		#content h2 {
			font-size: 1.25em;
		}

		#content h3 {
			font-size: 1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

		#menu {
			display: block;
		}
		.navigation {
			position: relative;			
			flex-direction: column;
		}

		.navigation a {
			display: none;
		}

		.open a {
			display: block;


		}	

		.mobile-wireframe, .desktop-wireframe	 {
			width: 100%;
		}

		#footer .link-list {
			margin: 0 0 10px 0 !important;
		}

		#copyright {
			padding: 20px 30px;
		}

}