:root {
	--primary-color: #00bbf9;
	--secondary-color: #fee440;
	--tertiary-color: #f15bb5;
	--accent-color: #9b5de5;
	--accent2-color: #00f5d4;
	--dark-color: #00f5d4;
	--light-color: #00f5d4;
	--black-color: #000000;
	--white-color: #FFFFFF;
	--grey-color: #e0e4e7;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

body {		
	color: var(--black-color);
	font-size: 1rem;
	font-family: 'Open Sans';
	line-height: 1.85em;
	font-weight: 300;	
	-webkit-text-size-adjust: none;
}

p, h2, h3 {
	padding-top: 10px;
	padding-bottom: 10px;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.container {
	margin: 0 auto;
	max-width: 100%;
	width: 1200px;
}

/* HEADER */
#header {
	background-color: var(--black-color);
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
}

#header > .container {
	position: relative;
	min-height: 155px;
}

#header h1 {
	position: absolute;
	left: 0;
	bottom: 25px;
	font-size: 2.75em;
}

#header h1 a {
	color: var(--white-color);
	text-decoration: none;
}

#header nav a {
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.4em;
	margin-left: 60px;
	outline: 0;
}

#header nav a:hover {
	color: var(--accent2-color);
}
.menu-mobile {
	display: none;	
}
/* MENU MOBILE */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: var(--black-color);
	color: var(--white-color);		
	display: none;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-top: 30px;	
	list-style: none;	
	color: var(--white-color);
}

.navigation a {	
	padding: 1.25rem;
	text-align: center;
	text-decoration: none;
	color: var(--white-color);
}

.navigation a:hover {
	background-color: #bbb;
	color: var(--primary-color);
	font-weight: 700;
}

.open a {
	display: block;
}

.active::before { 
	content: "📍"; 
}

.subpage #header > .container {
	height: 155px;
}
.subpage .link-list a {
	text-decoration: none;
}

.subpage .link-list a:hover {
	color: var(--tertiary-color) !important;
	font-weight: bold;
}


#banner {	
	padding: 35px 0 35px 0;
	color: var(--white-color);
}

#banner .bordered-feature-image {
	margin-bottom: 0;
}

#banner h2 {
	font-size: 1.8rem;
	font-weight: 900;
	color: var(--tertiary-color);
}

#banner p {
	font-size: 1.45rem;
	font-weight: 200;
	line-height: 1.25em;
	padding-right: 1em;
	margin: 0 0 1em 0;
}
.home-solutions a {
	text-decoration: none;
}

@media screen and (max-width: 1680px) {
	.container {
		width: 1200px;
	}
}

@media screen and (max-width: 1280px) {

	.container {
		width: calc(100% - 40px);
	}

}

@media screen and (max-width: 980px) {

	.container {
		width: calc(100% - 50px);
	}

}

@media screen and (max-width: 736px) {
	.container {
		width: calc(100% - 40px);
	}
}
.d-none {
	display: none;
}
.mt-25 {
	margin-top: 25px !important;
}

.mb-25 {
	margin-bottom: 25px;
}

.pb-25 {
	padding-bottom: 25px;
}

.form-row {
	display: flex;
	margin-bottom: 25px;
	padding: 0 50px;
}

.form-row label {
	margin-right: 25px;
	flex: 1;
}
.form-row input, .form-row select, .form-row textarea {	
	flex: 250px;
	padding: 5px 10px;
}
.form-row textarea {
	padding: 5px 10px;
}

.form-row .form-input,  .form-row select {
	border: 1px solid var(--black-color);
}

.form-row button {
	cursor: pointer;
}

.form-confirmation {
	background-color: var(--secondary-color);
	padding: 15px 25px;
}

.newsletter-message {
	position: relative;
	margin-left: 25px;	
	font-weight: 700;
	padding: 15px;
}
.reset-newsletter {
	float:right;
	position:relative;
	top: 0;
	right: 0;	
	padding: 5px;
	background-color: var(--secondary-color);
	color: var(--black-color);	
	text-align: center;
	font-weight: 900;
	cursor: pointer;
}
.quotation {
	padding: 5px 25px;
	background-color: var(--accent2-color);
	margin-bottom: 15px;
}
.tell-us {
	padding: 5px 15px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row > * {
	box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
	margin-bottom: 0;
}
.row.align-left {
	justify-content: flex-start;
}
.row.align-center {
	justify-content: center;
}
.row.align-right {
	justify-content: flex-end;
}

.row.align-top {
	align-items: flex-start;
}

.row.align-middle {
	align-items: center;
}

.row.align-bottom{
	align-items: flex-end;
}

/* .row > .imp {
	order: -1;
} */

.row > .col-1 {
	width: 8.33333%;
}

.row > .off-1 {
	margin-left: 8.33333%;
}

.row > .col-2 {
	width: 16.66667%;
}

.row > .off-2 {
	margin-left: 16.66667%;
}

.row > .col-3 {
	width: 25%;
}

.row > .off-3 {
	margin-left: 25%;
}

.row > .col-4 {
	width: 33.33333%;
}

.row > .off-4 {
	margin-left: 33.33333%;
}

.row > .col-5 {
	width: 41.66667%;
}

.row > .off-5 {
	margin-left: 41.66667%;
}

.row > .col-6 {
	width: 50%;
}

.row > .off-6 {
	margin-left: 50%;
}

.row > .col-7 {
	width: 58.33333%;
}

.row > .off-7 {
	margin-left: 58.33333%;
}

.row > .col-8 {
	width: 66.66667%;
}

.row > .off-8 {
	margin-left: 66.66667%;
}

.row > .col-9 {
width: 75%;
}

.row > .off-9 {
margin-left: 75%;
}

.row > .col-10 {
width: 83.33333%;
}

.row > .off-10 {
margin-left: 83.33333%;
}

.row > .col-11 {
width: 91.66667%;
}

.row > .off-11 {
margin-left: 91.66667%;
}

.row > .col-12 {
width: 100%;
}

.row > .off-12 {
margin-left: 100%;
}

.row.gtr-0 {
margin-top: 0px;
margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
padding-top: 0px;
}

.row.gtr-25 {
margin-top: -6.25px;
margin-left: -6.25px;
}

.row.gtr-25 > * {
padding: 6.25px 0 0 6.25px;
}

.row.gtr-25.gtr-uniform {
margin-top: -6.25px;
}

.row.gtr-25.gtr-uniform > * {
padding-top: 6.25px;
}

.row.gtr-50 {
margin-top: -12.5px;
margin-left: -12.5px;
}

.row.gtr-50 > * {
padding: 12.5px 0 0 12.5px;
}

.row.gtr-50.gtr-uniform {
margin-top: -12.5px;
}

.row.gtr-50.gtr-uniform > * {
padding-top: 12.5px;
}

.row {
margin-top: -25px;
margin-left: -25px;
}

.row > * {
padding: 25px 0 0 25px;
}

.row.gtr-uniform {
margin-top: -25px;
}

.row.gtr-uniform > * {
padding-top: 25px;
}

.row.gtr-150 {
margin-top: -37.5px;
margin-left: -37.5px;
}

.row.gtr-150 > * {
padding: 37.5px 0 0 37.5px;
}

.row.gtr-150.gtr-uniform {
margin-top: -37.5px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 37.5px;
}

.row.gtr-200 {
	margin-top: -50px;
	margin-left: -50px;
}

.row.gtr-200 > * {
	padding: 50px 0 0 50px;
}

.row.gtr-200.gtr-uniform {
	margin-top: -50px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 50px;
}

@media screen and (max-width: 1680px) {

.row {
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: stretch;
}

.row > * {
box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
margin-bottom: 0;
}

.row.align-left {
justify-content: flex-start;
}

.row.align-center {
justify-content: center;
}

.row.align-right {
justify-content: flex-end;
}

.row.align-top {
align-items: flex-start;
}

.row.align-middle {
align-items: center;
}

.rowalign-bottom{
align-items: flex-end;
}

.row > .reverse-xlarge {
	order: -1;
}

.row > .col-1-xlarge {
width: 8.33333%;
}

.row > .off-1-xlarge {
margin-left: 8.33333%;
}

.row > .col-2-xlarge {
width: 16.66667%;
}

.row > .off-2-xlarge {
margin-left: 16.66667%;
}

.row > .col-3-xlarge {
width: 25%;
}

.row > .off-3-xlarge {
margin-left: 25%;
}

.row > .col-4-xlarge {
width: 33.33333%;
}

.row > .off-4-xlarge {
margin-left: 33.33333%;
}

.row > .col-5-xlarge {
width: 41.66667%;
}

.row > .off-5-xlarge {
margin-left: 41.66667%;
}

.row > .col-6-xlarge {
width: 50%;
}

.row > .off-6-xlarge {
margin-left: 50%;
}

.row > .col-7-xlarge {
width: 58.33333%;
}

.row > .off-7-xlarge {
margin-left: 58.33333%;
}

.row > .col-8-xlarge {
width: 66.66667%;
}

.row > .off-8-xlarge {
margin-left: 66.66667%;
}

.row > .col-9-xlarge {
width: 75%;
}

.row > .off-9-xlarge {
margin-left: 75%;
}

.row > .col-10-xlarge {
width: 83.33333%;
}

.row > .off-10-xlarge {
margin-left: 83.33333%;
}

.row > .col-11-xlarge {
width: 91.66667%;
}

.row > .off-11-xlarge {
margin-left: 91.66667%;
}

.row > .col-12-xlarge {
width: 100%;
}

.row > .off-12-xlarge {
margin-left: 100%;
}

.row.gtr-0 {
margin-top: 0px;
margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}

.row.gtr-25 {
margin-top: -6.25px;
margin-left: -6.25px;
}

.row.gtr-25 > * {
padding: 6.25px 0 0 6.25px;
}

.row.gtr-25.gtr-uniform {
margin-top: -6.25px;
}

.row.gtr-25.gtr-uniform > * {
	padding-top: 6.25px;
}

.row.gtr-50 {
margin-top: -12.5px;
margin-left: -12.5px;
}

.row.gtr-50 > * {
padding: 12.5px 0 0 12.5px;
}

.row.gtr-50.gtr-uniform {
margin-top: -12.5px;
}

.row.gtr-50.gtr-uniform > * {
	padding-top: 12.5px;
}

.row {
margin-top: -25px;
margin-left: -25px;
}

.row > * {
padding: 25px 0 0 25px;
}

.row.gtr-uniform {
margin-top: -25px;
}

.row.gtr-uniform > * {
	padding-top: 25px;
}

.row.gtr-150 {
margin-top: -37.5px;
margin-left: -37.5px;
}

.row.gtr-150 > * {
padding: 37.5px 0 0 37.5px;
}

.row.gtr-150.gtr-uniform {
margin-top: -37.5px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 37.5px;
}

.row.gtr-200 {
margin-top: -50px;
margin-left: -50px;
}

.row.gtr-200 > * {
padding: 50px 0 0 50px;
}

.row.gtr-200.gtr-uniform {
margin-top: -50px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 50px;
}

}

@media screen and (max-width: 1280px) {

.row {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-items: stretch;
}

.row > * {
box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
margin-bottom: 0;
}

.row.align-left {
justify-content: flex-start;
}

.row.align-center {
justify-content: center;
}

.row.align-right {
justify-content: flex-end;
}

.row.align-top {
align-items: flex-start;
}

.row.align-middle {
align-items: center;
}

.rowalign-bottom{
align-items: flex-end;
}

.row > .reverse-large {
	order: -1;
}

.row > .col-1-large {
width: 8.33333%;
}

.row > .off-1-large {
margin-left: 8.33333%;
}

.row > .col-2-large {
width: 16.66667%;
}

.row > .off-2-large {
margin-left: 16.66667%;
}

.row > .col-3-large {
width: 25%;
}

.row > .off-3-large {
margin-left: 25%;
}

.row > .col-4-large {
width: 33.33333%;
}

.row > .off-4-large {
margin-left: 33.33333%;
}

.row > .col-5-large {
width: 41.66667%;
}

.row > .off-5-large {
margin-left: 41.66667%;
}

.row > .col-6-large {
width: 50%;
}

.row > .off-6-large {
margin-left: 50%;
}

.row > .col-7-large {
width: 58.33333%;
}

.row > .off-7-large {
margin-left: 58.33333%;
}

.row > .col-8-large {
width: 66.66667%;
}

.row > .off-8-large {
margin-left: 66.66667%;
}

.row > .col-9-large {
width: 75%;
}

.row > .off-9-large {
margin-left: 75%;
}

.row > .col-10-large {
width: 83.33333%;
}

.row > .off-10-large {
margin-left: 83.33333%;
}

.row > .col-11-large {
width: 91.66667%;
}

.row > .off-11-large {
margin-left: 91.66667%;
}

.row > .col-12-large {
width: 100%;
}

.row > .off-12-large {
margin-left: 100%;
}

.row.gtr-0 {
margin-top: 0px;
margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}

.row.gtr-25 {
margin-top: -5px;
margin-left: -5px;
}

.row.gtr-25 > * {
padding: 5px 0 0 5px;
}

.row.gtr-25.gtr-uniform {
margin-top: -5px;
}

.row.gtr-25.gtr-uniform > * {
	padding-top: 5px;
}

.row.gtr-50 {
margin-top: -10px;
margin-left: -10px;
}

.row.gtr-50 > * {
padding: 10px 0 0 10px;
}

.row.gtr-50.gtr-uniform {
	margin-top: -10px;	
}

.row.gtr-50.gtr-uniform > * {
	padding-top: 10px;
}

.row {
	margin-top: -20px;
	margin-left: -20px;
}

.row > * {
	padding: 20px 0 0 20px;
}

.row.gtr-uniform {
margin-top: -20px;
}

.row.gtr-uniform > * {
	padding-top: 20px;
}

.row.gtr-150 {
margin-top: -30px;
margin-left: -30px;
}

.row.gtr-150 > * {
padding: 30px 0 0 30px;
}

.row.gtr-150.gtr-uniform {
margin-top: -30px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 30px;
}

.row.gtr-200 {
margin-top: -40px;
margin-left: -40px;
}

.row.gtr-200 > * {
padding: 40px 0 0 40px;
}

.row.gtr-200.gtr-uniform {
margin-top: -40px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 40px;
}

}

@media screen and (max-width: 980px) {
	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.align-left {
		justify-content: flex-start;
	}

	.row.align-center {
		justify-content: center;
	}

	.row.align-right {
		justify-content: flex-end;
	}

	.row.align-top {
		align-items: flex-start;
	}

	.row.align-middle {
		align-items: center;
	}

	.row.align-bottom{
		align-items: flex-end;
	}

	.row > .reverse-medium {
		order: -1;
	}

	.row > .col-1-medium {
		width: 8.33333%;
	}

	.row > .off-1-medium {
		margin-left: 8.33333%;
	}

	.row > .col-2-medium {
		width: 16.66667%;
	}

	.row > .off-2-medium {
		margin-left: 16.66667%;
	}

	.row > .col-3-medium {
		width: 25%;
	}

	.row > .off-3-medium {
	margin-left: 25%;
	}

	.row > .col-4-medium {
	width: 33.33333%;
	}

	.row > .off-4-medium {
	margin-left: 33.33333%;
	}

	.row > .col-5-medium {
		width: 41.66667%;
	}

	.row > .off-5-medium {
		margin-left: 41.66667%;
	}

	.row > .col-6-medium {
		width: 50%;
	}

	.row > .off-6-medium {
		margin-left: 50%;
	}

	.row > .col-7-medium {
		width: 58.33333%;
	}

	.row > .off-7-medium {
		margin-left: 58.33333%;
	}

	.row > .col-8-medium {
		width: 66.66667%;
	}

	.row > .off-8-medium {
		margin-left: 66.66667%;
	}

	.row > .col-9-medium {
		width: 75%;
	}

	.row > .off-9-medium {
		margin-left: 75%;
	}

	.row > .col-10-medium {
		width: 83.33333%;
	}

	.row > .off-10-medium {
	margin-left: 83.33333%;
	}

	.row > .col-11-medium {
	width: 91.66667%;
	}

	.row > .off-11-medium {
		margin-left: 91.66667%;
	}

	.row > .col-12-medium {
		width: 100%;
	}

	.row > .off-12-medium {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0px;
		margin-left: 0px;
	}

	.row.gtr-0 > * {
		padding: 0px 0 0 0px;
	}

	.row.gtr-0.gtr-uniform {
	margin-top: 0px;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0px;
	}

	.row.gtr-25 {
	margin-top: -6.25px;
	margin-left: -6.25px;
	}

	.row.gtr-25 > * {
	padding: 6.25px 0 0 6.25px;
	}

	.row.gtr-25.gtr-uniform {
	margin-top: -6.25px;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 6.25px;
	}

	.row.gtr-50 {
	margin-top: -12.5px;
	margin-left: -12.5px;
	}

	.row.gtr-50 > * {
	padding: 12.5px 0 0 12.5px;
	}

	.row.gtr-50.gtr-uniform {
	margin-top: -12.5px;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 12.5px;
	}

	.row {
	margin-top: -25px;
	margin-left: -25px;
	}

	.row > * {
	padding: 25px 0 0 25px;
	}

	.row.gtr-uniform {
	margin-top: -25px;
	}

	.row.gtr-uniform > * {
		padding-top: 25px;
	}

	.row.gtr-150 {
	margin-top: -37.5px;
	margin-left: -37.5px;
	}

	.row.gtr-150 > * {
	padding: 37.5px 0 0 37.5px;
	}

	.row.gtr-150.gtr-uniform {
	margin-top: -37.5px;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 37.5px;
	}

	.row.gtr-200 {
	margin-top: -50px;
	margin-left: -50px;
	}

	.row.gtr-200 > * {
	padding: 50px 0 0 50px;
	}

	.row.gtr-200.gtr-uniform {
	margin-top: -50px;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 50px;
	}

}

@media screen and (max-width: 736px) {

.row {
display: flex;
flex-wrap: wrap;
box-sizing: border-box;
align-items: stretch;
}

.row > * {
box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
margin-bottom: 0;
}

.row.align-left {
	justify-content: flex-start;
}

.row.align-center {
	justify-content: center;
}

.row.align-right {
	justify-content: flex-end;
}

.row.align-top {
	align-items: flex-start;
}

.row.align-middle {
	align-items: center;
}

.rowalign-bottom{
	align-items: flex-end;
}

.row > .reverse-small {
	order: -1;
}

.row > .col-1-small {
	width: 8.33333%;
}

.row > .off-1-small {
	margin-left: 8.33333%;
}

.row > .col-2-small {
	width: 16.66667%;
}

.row > .off-2-small {
	margin-left: 16.66667%;
}

.row > .col-3-small {
	width: 25%;
}

.row > .off-3-small {
	margin-left: 25%;
}

.row > .col-4-small {
	width: 33.33333%;
}

.row > .off-4-small {
	margin-left: 33.33333%;
}

.row > .col-5-small {
	width: 41.66667%;
}

.row > .off-5-small {
	margin-left: 41.66667%;
}

.row > .col-6-small {
	width: 50%;
}

.row > .off-6-small {
	margin-left: 50%;
}

.row > .col-7-small {
	width: 58.33333%;
}

.row > .off-7-small {
	margin-left: 58.33333%;
}

.row > .col-8-small {
	width: 66.66667%;
}

.row > .off-8-small {
	margin-left: 66.66667%;
}

.row > .col-9-small {
	width: 75%;
}

.row > .off-9-small {
	margin-left: 75%;
}	

.row > .col-10-small {
	width: 83.33333%;
}

.row > .off-10-small {
	margin-left: 83.33333%;
}

.row > .col-11-small {
	width: 91.66667%;
}

.row > .off-11-small {
	margin-left: 91.66667%;
}

.row > .col-12-small {
	width: 100%;
}

.row > .off-12-small {
	margin-left: 100%;
}

.row.gtr-0 {
	margin-top: 0px;
	margin-left: 0px;
}

.row.gtr-0 > * {
padding: 0px 0 0 0px;
}

.row.gtr-0.gtr-uniform {
margin-top: 0px;
}

.row.gtr-0.gtr-uniform > * {
	padding-top: 0px;
}

.row.gtr-25 {
margin-top: -5px;
margin-left: -5px;
}

.row.gtr-25 > * {
padding: 5px 0 0 5px;
}

.row.gtr-25.gtr-uniform {
margin-top: -5px;
}

.row.gtr-25.gtr-uniform > * {
	padding-top: 5px;
}

.row.gtr-50 {
margin-top: -10px;
margin-left: -10px;
}

.row.gtr-50 > * {
padding: 10px 0 0 10px;
}

.row.gtr-50.gtr-uniform {
margin-top: -10px;
}

.row.gtr-50.gtr-uniform > * {
	padding-top: 10px;
}

.row {
margin-top: -20px;
margin-left: -20px;
}

.row > * {
padding: 20px 0 0 20px;
}

.row.gtr-uniform {
margin-top: -20px;
}

.row.gtr-uniform > * {
	padding-top: 20px;
}

.row.gtr-150 {
margin-top: -30px;
margin-left: -30px;
}

.row.gtr-150 > * {
padding: 30px 0 0 30px;
}

.row.gtr-150.gtr-uniform {
margin-top: -30px;
}

.row.gtr-150.gtr-uniform > * {
	padding-top: 30px;
}

.row.gtr-200 {
margin-top: -40px;
margin-left: -40px;
}

.row.gtr-200 > * {
padding: 40px 0 0 40px;
}

.row.gtr-200.gtr-uniform {
margin-top: -40px;
}

.row.gtr-200.gtr-uniform > * {
	padding-top: 40px;
}

}

.link-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.link-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.testimonial-list li {
	padding: 1em 0 1em 0;
	overflow: hidden;
}

.testimonial-list img {
	width: 25%;
	border-radius: 50px;
}

.testimonial-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.testimonial-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
}

.testimonial-list li img {
	float: left;
}

.testimonial-list li img {
	float: left;
}

.testimonial-list li p {
	margin: 0 0 0 90px;
	font-size: 1.2em;
	font-style: italic;
}

.testimonial-list li span {
	display: block;
	margin-left: 90px;
	font-size: 0.9em;
	font-weight: 400;
}

.check-list li {
	padding: 0.7em 0 0.7em 60px;
	font-size: 1.2em;
	background: url("../images/check-mark.png") 0px 1.05em no-repeat;
}

.check-list li:first-child {
	padding-top: 0 !important;
	border-top: 0 !important;
	background-position: 0 0.3em;
}

.check-list li:last-child {
	padding-bottom: 0 !important;
	border-bottom: 0 !important;
}

.feature-image {
	display: block;
	margin: 0 0 2em 0;
	outline: 0;
}

.feature-image img {
	display: block;
	width: 100%;
}

.bordered-image {
	display: block;
	background: var(--accent2-color) url("../images/banner2_340x170.png");
	padding: 10px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.15);
	margin: 0 0 1.5em 0;
	outline: 0;
}

.bordered-feature-image img {
	display: block;
	width: 100%;
}

.f-bold {
	font-weight: bold;
}

.btn {
	padding: 10px 25px;
	border-radius: 10px;
	text-decoration: none;
}

.btn-primary {
	background-color: var(--primary-color);
	color: var(--white-color);
}

.bg-primary {
	background-color: var(--primary-color);
}

.btn-secondary {
	background-color: var(--secondary-color);
	color: var(--black-color);
}

.btn-tertiary {
	background-color: var(--tertiary-color);
	color: var(--black-color);
}

/* HEADER */
#header {	
	background-color: var(--black-color);
}

#header > .container {
	position: relative;
	min-height: 155px;
}

#header h1 {
	position: absolute;
	left: 0;
	bottom: 25px;
	font-size: 2.75em;
}

#header h1 a {
	color: var(--white-color);
	text-decoration: none;
}

#header nav {
	/* position: absolute;
	right: 0;
	bottom: 35px;
	font-weight: 200; */
}

#header nav a {
	color: var(--white-color);
	text-decoration: none;
	font-size: 1.4em;
	margin-left: 60px;
	outline: 0;
}

#header nav a:hover {
	color: var(--tertiary-color);
}

.subpage #header > .container {
	height: 155px;
}	

.solution-title {
	text-align: center;
}

.solutions #banner {
	background-color: #00bbf9;
}

#solutions {		
	background-color: var(--tertiary-color);	
	border-bottom: 2px solid var(--black-color);
	padding: 45px 0 45px 0;
	color: var(--black-color);
}

#solutions h2 {
	font-size: 1.25em;
	color: #fff;
	margin: 0 0 0.25em 0;	
}

#solutions a {
	color: #e0e8eb;
}

#solutions strong {
	color: #fff;
}

.blog-row {
	display: flex;
	flex-direction: row;
	margin-bottom: 25px;
}

.blog-row img {
	margin-right: 15px;	
}

/* Content */
.box-color {
	float:left;
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px;
}
.primary-color {
	background-color: var(--primary-color);
}

.secondary-color {
	background-color: var(--secondary-color);
}

.tertiary-color {
	background-color: var(--tertiary-color);
}

.accent-color {
	background-color: var(--accent-color);
}

.accent2-color {
	background-color: var(--accent2-color);
}
.open-sans {
	font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}
#content {		
	border-top: solid 1px #fff;
	padding: 45px 0 45px 0;
}

#content section {	
	padding: 40px 30px 45px 30px;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	margin: 0 0 25px 0;
	border: 1px solid var(--black-color);
}

#content h2 {
	font-size: 1.5em;
	color: var(--primary-color);
	font-weight: 700;
	margin: 0 0 0.25em 0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

#content h3 {
	color: var(--tertiary-color);
	font-size: 1.25em;
	font-weight: bold;
}

#content h4 {
	font-weight: bold;
}

#content a {
	color: var(--black-color);
}

#content header {
	margin: 0 0 2em 0;
}

#content .testimonial-list li {
	border-bottom: 1px solid var(--black-color);
}

#content .link-list li {
	border-bottom: 1px solid var(--black-color);
}

#content .check-list li {
	border-bottom: 1px solid var(--black-color);
}

.newsletter-form {
	background-color: var(--primary-color);
	border: 1px solid var(--black-color);
	border-radius: 10px;	
}
.newsletter{
	padding: 5px 25px;
	width: 250px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.subscribe-newsletter {
	cursor: pointer;
	padding: 5px 25px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* FOOTER */
#footer {
	padding: 45px 0 45px 0;
	text-shadow: 1px 1px 1px white;
	color: var(--black-color);
	background-color: var(--dark-color);	
}

#footer h3 {
	font-size: 1.25em;
	font-weight: 900;
	color: var(--tertiary-color);
	margin: 0 0 1em 0;
}

#footer a {
	color: var(--black-color);
	text-decoration: none;
}

#footer .link-list li {	
	border-bottom: 1px solid 1px var(--primary-color);
}

#footer .link-list li a:hover {
	color: var(--primary-color);
	font-weight: bold;
}

#footer .check-list li {	
	border-bottom: 1px solid var(--black-color-color);
}

#copyright {
	border-top: 1px solid var(--black-color);
	text-align: center;
	padding: 45px 0 80px 0;
	color: var(--black-color);
}

#copyright a {
	color: var(--tertiary-color);
}

/* For large screen */
@media screen and (max-width: 1280px) {

	.check-list li {
		font-size: 1em;
		line-height: 2em;
	}

		.testimonial-list li {
			padding: 1em 0 1em 0;
		}

			.testimonial-list li img {
				width: 60px;
			}

			.testimonial-list li p {
				margin: 0 0 0 80px;
				font-size: 1em;
				font-style: italic;
				line-height: 1.8em;
			}

	.testimonial-list li span {
		display: block;
		margin-left: 80px;
		font-size: 0.8em;
		font-weight: 400;
		line-height: 1.8em;
	}

	.feature-image {
		margin: 0 0 1em 0;
	}

	/* Banner */
	#banner p {
		font-size: 1.75em;
	}

	/* Header */

		#header h1 {
			font-size: 2.25em;
		}

		#header nav a {
			font-size: 1.1em;
		}

	/* Content */

		#content h2 {
			font-size: 1.4em;
		}

		#content h3 {
			font-size: 1.1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

}

/* For medium screen */
@media screen and (max-width: 980px) {
	html, body {
		overflow-x: hidden;
	}
	#header {
		text-align: center;
	}

			#header > .container:first-child {
				display: none;
			}

	#content {
		padding: 25px 0;
	}	

}

/* For mobile display */
@media screen and (max-width: 736px) {
	
		.link-list li {
			padding: 0.75em 0 0.75em 0;
		}

		.testimonial-list li p {
			margin-bottom: 0.5em;
		}

		.check-list li {
			font-size: 1em;
		}

		#menu {
			border: 1px solid var(--tertiary-color) !important;
			width: 35px;
			background: var(--tertiary-color) !important;
			color: var(--white-color) !important;			
		}

		#banner p {
			font-size: 1.25em;
			font-weight: 200;
			line-height: 1.25em;
			margin: 0 0 1em 0;
		}

		#content section {
			padding: 30px 20px;
		}

		#content h2 {
			font-size: 1.25em;
		}

		#content h3 {
			font-size: 1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

		.navigation {
			margin-top: 135px;
			margin-left: -15px;
			margin-right: -50px;
			background-color: var(--black-color);
			width: 100%;	
			justify-content: center;			
		}	
		
		#banner p {
			font-size: 1.25em;
			font-weight: 200;
			line-height: 1.25em;
			margin: 0 0 1em 0;
		}
		
		#content section {
			padding: 30px 20px;
		}

		#content h2 {
			font-size: 1.25em;
		}

		#content h3 {
			font-size: 1em;
		}

		#content header {
			margin: 0 0 1.25em 0;
		}

		.menu-mobile {						
			display: block;
			height: 30px;
		}
		#menu {
			display: block;
		}
		.navigation {
			position: relative;			
			top: -136px;
			left: 0px;
			flex-direction: column;
		}

		.navigation a {
			display: none;
		}

		.open a {
			display: block;


		}	

		.feature-creative {
			width: 100%;
		}

		.home-solutions img {
			width: 100%;
			height: auto;
		}

		.mobile-wireframe, .desktop-wireframe	 {
			width: 100%;
		
		
		}

		.blog-row {			
			flex-direction: column;
			margin-bottom: 25px;
		}
		
		.blog-row img {
			width: 100%;
			margin-right: 15px;	
		}

		.form-row {
			padding: 0 15px;
		}

		.form-row input, .form-row select, .form-row textarea {			
			padding: 0 5px;
		}

		.newsletter{			
			width: 226px;
		}

		#footer .link-list {
			margin: 0 0 10px 0 !important;
		}

		#copyright {
			padding: 20px 30px;
		}

}