@media only screen and (min-width:768px) {
    header {
        max-width: 1170px;
        margin: 0 auto;
    }
    nav, main{       
        max-width: 1170px;   
    }
    
    .navigation {
        display: flex;  
    }
    .navigation ul {
        width: 100%;
    }
    .navigation a {
        color: var(--white-color);
    }
    .navigation li {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;        
    }
    #menu {
        display: none;
    }
    .galery {        
        grid-template-columns: 1fr 1fr 1fr;        
    }
    
}